@import url('gold.css') layer(gold);

@layer base {
    :root {
        --gold-1: darkgrey;
        --gold-2: #DAA520;
        --gold-3: black;
        --gold-4: #ffc400;
        --gold-5: #B3A2DE;
    }
    
    body {
        height: 100vh;
        width: 100vw;
        font-family: Times, sans-serif;
    }
    
    @media (max-width: 610px) {
        :root {
            --phone: 1;
            --m: 0.6rem;
        }

        body {
            height: 91vh;
        }
    }

    div {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    a {
        text-decoration: unset;
        color: unset;
    }
    
    #links {
        background-color: var(--gold-3);
        font-size: var(--l);
    }
    
    #links > * {
        background-color: var(--gold-4);
    }
    
    #texts {
        background-color: var(--gold-1);
    }
    
    .text > p {
        background-color: var(--gold-2);
        font-size: var(--xl);
        text-align: center;
    }
    
    #arrow {
        background-color: var(--gold-5);
    }

    #arrow img {
        height: 29%;
    }
    
    .text:not(:target) {
        display: none;
    }
}

@layer ux {
    .selected {
        font-weight: bold;
        font-style: italic;
        background-color: var(--gold-5);
    }

    .hidden {
        display: none;
    }
}