@import url('gold.css') layer(gold);

:root {
    --shadow: #DAA520;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Times, sans-serif;
}

div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes glow {
    50% {
        filter: drop-shadow(0 0 13px var(--shadow));
    }
}

#1 {
    animation: glow var(--t-xxxl) infinite;
}
#2 {
    animation: glow var(--t-xxl) infinite;
}
#3 {
    animation: glow var(--t-xl) infinite;
}
#4 {
    animation: glow var(--t-l) infinite;
}
#5 {
    animation: glow var(--t-m) infinite;
}