@import url('gold.css') layer(gold);

:root {
    --shadow: #2064da;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Times, sans-serif;
    filter: invert(1);
}

div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

img {
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes glow {
    50% {
        filter: drop-shadow(0 0 13px var(--shadow));
    }
}

#img1 {
    animation: glow var(--t-xxxl) infinite;
}
#img2 {
    animation: glow var(--t-xxl) infinite;
}
#img3 {
    animation: glow var(--t-xl) infinite;
}
#img4 {
    animation: glow var(--t-l) infinite;
}
#img5 {
    animation: glow var(--t) infinite;
}
#img6 {
    animation: glow var(--t-s) infinite;
}
#img7 {
    animation: glow var(--t-xs) infinite;
}
#img8 {
    animation: glow var(--t-xxs) infinite;
}
#img9 {
    animation: glow var(--t-xxxs) infinite;
}